<div class="outer-circle"
    [ngClass]="{positive: response, negative: !response}"
    (click)="handleClick($event)">
    <div class="inner-circle"
        *ngIf="isSelected"
        [ngClass]="{positive: response, negative: !response}">
    </div>
</div>
