.outer-circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  background: lightgray;
}

.outer-circle.positive {
  background: lightgreen
}

.outer-circle.negative {
  background: indianred
}

.inner-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -20px 0px 0px -20px;
  background: darkgray;
}

.inner-circle.positive {
  background: green
}

.inner-circle.negative {
  background: darkred
}
