<!-- <h1>{{ assumptions.length }} Assumptions</h1> -->
<h1>Assumptions</h1>
<ul>
  <li *ngFor="let assumption of assumptions">
    {{ assumption.assumption_text }}
  </li>
</ul>

<!-- <button class="btn btn-primary">Save</button> -->
