<div class="row" style="height: 50px;">
  <div class="col-md-8 align-middle">
    {{ assumptionWithAggResponses.assumption.assumption_text }}
  </div>
  <div class="col-md-3">
    <div class="progress" style="height: 25px;">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': (assumptionWithAggResponses.posResponsesRate * 100 | number:0) + '%'}"
        aria-valuemin="0" aria-valuemax="100">
        {{ assumptionWithAggResponses.posResponsesRate * 100 | number:0 }}%
        ({{ assumptionWithAggResponses.responsesCount }} response<ng-container *ngIf="assumptionWithAggResponses.responsesCount > 1">s</ng-container>)
      </div>
    </div>
  </div>
</div>