<div class="container float-left" style="max-width: 800px;">
  <app-assumption-agg-responses *ngFor="let assumption of assumptions" [assumptionWithAggResponses]="assumption">
  </app-assumption-agg-responses>
</div>