<h2>Team temperature gathering tool</h2>
<p>TODO: Short description here...</p>

<h2>Created by</h2>
<ul>
  <li *ngFor="let author of authors">
    {{ author.name }} &lt;<a href="mailto:{{ author.email }}">{{ author.email }}</a>&gt;
  </li>
</ul>

<h2>Version</h2>
<p>{{ version }}</p>
